{% extends 'base.html.twig' %}

{% block title %}Edit product!{% endblock %}

{% block main %}

    <div class="container body-content span=10 offset=2">
        <div class="well" id="product" hidden>
            {{ form_start(form) }}
                <fieldset>
                    <legend>Редакция на задължение</legend>
                    <div class="form-group">
                        <div class="col-sm-2" id="class">
                            <label class="control-label" for="class_id">От клас</label>
                            <select value="{{ form.vars['value'].student.class.id }}"
                                    class="form-control" id="class_id" name="class[id]">
                            </select>
                        </div>
                        <div class="col-sm-4" id="student">
                            <label class="control-label" for="student_id">Ученик</label>
                            <select  value="{{ form.vars['value'].student.id }}" style="width:100%;"
                                     class="form-control" id="student_id" name="student[id]">
                            </select>
                        </div>
                        <div class="col-sm-2">
                            {{ form_row(form.forMonth, {
                                label: 'За месец'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_row(form.feeInDays, {
                                label: 'Такса в дни'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_row(form.price, {
                                label: 'Сума в лева'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-5">
                            <a class="btn btn-default" href="{{ path('home') }}">Изход</a>
                            <button type="submit" class="btn btn-primary">Запис</button>
                        </div>
                    </div>
                </fieldset>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container body-content span=8 offset=2">
        <div id="notifications-table">
            <div id="loadingBox" class="notification">
                <span>Зареждане на данните …</span>
            </div>
            <div id="errorBox" class="notification">
                <span>Грешка в данните!</span>
            </div>
        </div>
    </div>

{% endblock %}

{% block jsCustomPage %}
    {{ encore_entry_script_tags('pageProductEditAjax') }}
{% endblock %}