<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('/js/data-tables/DataTables-1.10.18/css/jquery.dataTables.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/js/data-tables/Responsive-2.2.2/css/responsive.dataTables.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/css/jquery-ui.min.css') }}">
        {% endblock %}
    </head>

    {% block header %}
        <header>
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a href="{{ path('home') }}" class="navbar-brand">НАЧАЛО</a>

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% if app.getUser() and app.getUser().isAdmin() %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ценоразпис
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ path('price_per_day') }}">
                                                Цена за ден
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}

                            {% if app.getUser() and (app.getUser().isAdmin() or app.getUser().isSeller())  %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Приключване на месец
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ path('payment_by_class') }}">
                                                Приключване на предходен месец
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('payment_ended_mont_info') }}">
                                                Справка за приключени на месеци
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}

                            {% if app.getUser() and (app.getUser().isAdmin() or app.getUser().isSeller()) %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Плащане
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ path('payment_create') }}">
                                                Плащане на задължение
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('payment') }}">
                                                Всички плащания
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}

                            {% if app.getUser() and (app.getUser().isTeacher() or app.getUser().isAdmin()) %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Задължения
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ path('product_create') }}">
                                                Добавяне на задължение
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_product_index') }}">
                                                Информация за yчениците
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Клас/Ученици
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ path('class') }}">
                                                Клас
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('student') }}">
                                                Ученици
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}

                            {% endif %}

                            {% if app.getUser() %}

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown"
                                       href="#">{{ app.getUser().getUsername() }}
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="text-center">
                                            <a href="{{ path('user_edit', {id: app.getUser().getId() }) }}">
                                                Профил - име презиме фамилия/достъп
                                            </a>
                                        </li>
                                        <li class="text-center">
                                            <a href="{{ path('user_edit_pass', {id: app.getUser().getId() }) }}">
                                                Профил - потребителско име/парола
                                            </a>
                                        </li>
                                        {% if app.getUser() and app.getUser().isAdmin() %}
                                            <li class="text-center">
                                                <a href="{{ path('app_register') }}">Регистриране на нов потребител</a>
                                            </li>
                                        {% endif %}
                                        <li class="text-center">
                                            <a href="{{ path('user_all') }}" class="text-center">
                                                Всички профили
                                            </a>
                                        </li>
                                        <li class="text-center">
                                            <a href="{{ path('app_logout') }}">Изход</a>
                                        </li>
                                    </ul>
                                </li>

                            {% else %}
                                <li>
                                    <a href="{{ path('app_login') }}">ВХОД</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    <body>
        <div class="container body-container">

            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">

                        <div class="container body-content span=8 offset=2">
                            {% if (danger is defined) or (info is defined) %}
                                <div id="notifications" class="well" >
                                    <div id="dangerBox" class="notification">
                                        {% if danger is defined %}
                                            <span id="danger_text">{{ danger }}</span>
                                        {% endif %}
                                    </div>
                                    <div id="infoBox" class="notification">
                                        {% if info is defined %}
                                            <span id="text_info">{{ info }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        {% block main %}{% endblock %}

                    </div>
                </div>
            {% endblock %}
        </div>
    </body>

        {% block footer %}
            <footer>
                <div class="container modal-footer">
                    <p>&copy; 2019</p>
                </div>
            </footer>
        {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <!-- PLUGIN DATA-TABLE JS -->
        <script src="{{ asset('/js/data-tables/DataTables-1.10.18/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('/js/data-tables/Responsive-2.2.2/js/dataTables.responsive.min.js') }}"></script>
        <script src="{{ asset('/js/data-tables/Buttons-1.5.2/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('/js/data-tables/Buttons-1.5.2/js/buttons.flash.min.js') }}"></script>
        <script src="{{ asset('/js/data-tables/Buttons-1.5.2/js/buttons.html5.min.js') }}"></script>
        <script src="{{ asset('/js/data-tables/Buttons-1.5.2/js/buttons.print.min.js') }}"></script>
        <script src="{{ asset('/js/data-tables/JSZip-2.5.0/jszip.min.js') }}"></script>
        <script src="{{ asset('/js/data-tables/pdfmake-0.1.36/pdfmake.min.js') }}"></script>
        <script src="{{ asset('/js/data-tables/pdfmake-0.1.36/vfs_fonts.js') }}"></script>


        <script src="{{ asset('/js/jquery-ui.min.js') }}"></script>

    {% endblock %}

    {% block jsCustomPage %}{% endblock %}

</html>
