{% extends 'base.html.twig' %}

{% block title %}Справка за месец!{% endblock %}

{% block main %}
    <style>

    </style>
    <div class="container body-content span=10 offset=2">
        <div class="well" id="payment" hidden>
            <form class="form-horizontal" action="{{ path('payment_ended_mont_info') }}" method="POST">
                <fieldset>
                    <legend>Справка за месец
                        {% if month is defined %}
                            <span>{{ month|date('m.Y') }}</span>
                        {% endif %}
                    </legend>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label" for="class_id">Избор на всички класове</label>
                            <input type="checkbox" id="class_all" name="class[all]" value="1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2" id="class">
                            <label class="control-label" for="class_id">От клас</label>
                            <select class="form-control" id="class_id" name="class[id]">
                                {% for class in classes %}
                                    <option value="{{ class.id }}">{{ class.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2" id="class">
                            <label class="control-label" for="month">Месец</label>
                            <input type="text" id="month" name="month" class="monthPicker form-control" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-5">
                            <a class="btn btn-default" href="{{ path('app_product_index') }}">Изход</a>
                            <button type="submit" class="btn btn-primary">Избор</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="container body-content span=8 offset=2">
        <div id="notifications-table">
            <div id="loadingBox" class="notification">
                <span>Зареждане на данните …</span>
            </div>
            <div id="errorBox" class="notification">
                <span>Грешка в данните!</span>
            </div>
        </div>
    </div>

{% endblock %}

{% block jsCustomPage %}
    {{ encore_entry_script_tags('pageByMonthClass') }}
{% endblock %}