{% extends 'base.html.twig' %}

{% block title %}Edit payment!{% endblock %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well" id="payment" hidden>
            {{ form_start(form) }}
            <fieldset>
                <legend>Редактиране на плащане</legend>

                <div class="form-group">

                    <div class="col-sm-4">
                        {{ form_row(form.seller, {
                            label: 'Име на ученик'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label" for="class_id">От клас</label>
                        <input type="text" id="class_id" name="class[id]" class="form-control" required="required"
                        value="{{ payment.products.student.class.name }}" readonly="readonly">
                    </div>

                    <div class="col-sm-2">
                        <label class="control-label" for="class_id">За месец</label>
                        <input type="text" id="product_forMonth" name="product[forMonth]" class="form-control"
                               required="required" value="{{ payment.products.forMonth|date('m.Y') }}" readonly="readonly">
                    </div>

                    <div class="col-sm-2">
                        {{ form_row(form.price, {
                            label: 'Цена'
                        }) }}
                    </div>

                    <div class="col-sm-2">
                        {{ form_row(form.payment, {
                            label: 'Плащане'
                        }) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.namePayer, {
                            label: 'Име на платеца'
                        }) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.seller, {
                            label: 'Касиер'
                        }) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="{{ path('payment') }}">Изход</a>
                        <button type="submit" class="btn btn-primary">Запис</button>
                    </div>
                </div>

            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container body-content span=8 offset=2">
        <div id="notifications-table">
            <div id="errorBox" class="notification">
                <span>Грешка в данните!</span>
            </div>
        </div>
        <div class="table-responsive" hidden>
            <table id="dataTable"  class="display" cellspacing="0" width="100%"></table>
        </div>
    </div>

{% endblock %}

{% block jsCustomPage %}
    {{ encore_entry_script_tags('pagePaymentEditAjax') }}
{% endblock %}