{% extends 'base.html.twig' %}

{% block title %}Прилючен на месец!{% endblock %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <legend>Прилючен месец
            {% if dateTime is defined %}
                <span>{{ dateTime|date('m.Y') }}</span>
            {% endif %}
            {% if class is defined %}
                 на <span>{{ class.name }} клас.</span>
            {% endif %}
        </legend>
        <div class="table-responsive">
            <table id="dataTable"  class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th scope="col">Клас</th>
                        <th scope="col">Име на ученик</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Такса в дни</th>
                        <th scope="col">Такса за месец</th>
                        <th scope="col">Вносител</th>
                        <th scope="col">Касиер</th>
                        <th scope="col">Дата на плащане</th>
                        <th scope="col">Статус</th>
                    </tr>
                </thead>
                <tbody>
                {% if payments is defined %}
                    {% for payment in payments %}
                        <tr>
                            <td>{{ payment.products.student.class.name }}</td>
                            <td>{{ payment.products.student.fullName }}</td>
                            <td>{{ payment.products.price }} лв.</td>
                            <td>{{ payment.products.feeInDays }}</td>
                            <td>{{ payment.products.forMonth|date('m.Y') }}</td>
                            <td>{{ payment.namePayer }}</td>
                            <td>{{ payment.seller }}</td>
                            <td>{{ payment.datePurchases|date('d.m.Y H:i:s') }}</td>
                            {% if payment.isMonthEnded %}
                                <td>Затворен</td>
                            {% else %}
                                <td>Проблемен</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="8" style="text-align:right"></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}

{% block jsCustomPage %}
    {{ encore_entry_script_tags('pageEndedMonth') }}
{% endblock %}
