{% extends 'base.html.twig' %}

{% block title %}Create payment!{% endblock %}

{% block main %}

    <div class="container body-content span=10 offset=2">
        <div class="well" id="payment">
            <form class="form-horizontal" action="{{ path('payment_end_month', { 'id': month|date('m.Y') }) }}" method="POST">
                <fieldset>
                    <legend>Затваряне на месец
                        {% if month is defined %}
                            <span>{{ month|date('m.Y') }}</span>
                        {% endif %}
                    </legend>
                    <div class="form-group">
                        <div class="col-sm-4" id="class">
                            <label class="control-label" for="class_id">Затваряне на</label>
                            <ul>
                                {% for class in classes %}
                                    <li value="{{ class.id }}">{{ class.name }} - клас</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-5">
                            <a class="btn btn-default" href="{{ path('app_product_index') }}">Изход</a>
                            <button type="submit" class="btn btn-warning">Приключване</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}